.parent {
  background-color: #00aaff;
  width: 300px;
  height: 300px;
  display: flex;
}

.childone {
  background-color: rgb(116, 255, 116);
  width: 300px;
  height: 300px;
}

.childtwo {
  background-color: rgb(248, 117, 177);
  width: 300px;
  height: 300px;
}

.childthree {
  background-color: rgb(255, 116, 232);
  width: 300px;
  height: 300px;
}
